In [2]:
import pandas as pd
df = pd.read_csv("Lab2_Dataset (1).csv")
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OrderID        1000 non-null   object
 1   Customer Name  1000 non-null   object
 2   Order Date     1000 non-null   object
 3   Region         1000 non-null   object
 4   Product        1000 non-null   object
 5   Quantity       492 non-null    float64
 6   Unit Price     1000 non-null   float64
 7   Revenue        468 non-null    float64
 8   Status         1000 non-null   object
dtypes: float64(3), object(6)
memory usage: 70.4+ KB

In [4]:
df['Region'] = df['Region'].str.strip().str.title()
df['Status'] = df['Status'].str.strip().str.capitalize()

In [5]:
df['Order Date'] = pd.to_datetime(df['Order Date'], errors='coerce')

In [6]:
df['Quantity'] = df['Quantity'].fillna(0)
df['Unit Price'] = pd.to_numeric(df['Unit Price'], errors='coerce')
df['Revenue'] = df['Quantity'] * df['Unit Price']

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df['Revenue'].fillna(df['Quantity'] * df['Unit Price'], inplace=True)

C:\Users\Siddd\AppData\Local\Temp\ipykernel_14624\3178123418.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Revenue'].fillna(df['Quantity'] * df['Unit Price'], inplace=True)

In [9]:
df['Order Month'] = df['Order Date'].dt.to_period('M')

In [10]:
df.groupby('Region')['Revenue'].sum()

Region
East     38746.06
North    90746.67
South    81742.55
West     51972.49
Name: Revenue, dtype: float64

In [11]:
df.groupby('Product')['Quantity'].sum()

Product
Gadget X    518.0
Gadget Y    465.0
Tool Z      465.0
Widget A    464.0
Widget B    543.0
Name: Quantity, dtype: float64

In [12]:
df.groupby(['Product', 'Region'])['Unit Price'].mean()

Product   Region
Gadget X  East      124.892143
          North      98.863077
          South     107.703968
          West      105.021944
Gadget Y  East      112.074138
          North     102.615526
          South     102.894375
          West      104.171250
Tool Z    East       89.712500
          North     105.890333
          South     102.119844
          West       96.353333
Widget A  East      121.301190
          North     101.868182
          South     111.887759
          West      103.376429
Widget B  East      100.733846
          North      99.993133
          South     104.047353
          West      110.399487
Name: Unit Price, dtype: float64